/*  MAKE LAYOUT RESPONSIVE at 1024px and lower */

#wrapper {
	width: 90%;
}



#carousel {
	background: none;
	height: auto;
	position: relative;
}

#carousel .stage {
	overflow: hidden;
	width: 100%;
	float: none;
	z-index: 2;
}
#carousel .stage .slides,
#carousel .stage .slides li,
#carousel .stage .slides img {
	width: 100%;
}

#carousel .stage .slides {
	-webkit-transition: none;
  	-moz-transition: none;
  	-o-transition: none;
  	transition: none;
}

#carousel .controls {
	float: none;
	z-index: 10;
	background-color: #fff;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#carousel .controls:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#carousel .controls ul {
	float: right;
	width: auto;
	padding: 10px 5px;
}

#carousel .controls ul li {
	padding: 0 10px;
	float: left;
}

#carousel .controls a.button {
	background: #fff;
	border: 1px solid #999;
	height: 30px;
	width: 30px;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	
	
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition: background 0.2s ease-in-out;
  	transition: background 0.2s ease-in-out;	
}

#carousel .controls a.button.active {
	background: #F87108;
	border: 1px solid #F87108;	
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition: background 0.2s ease-in-out;
  	transition: background 0.2s ease-in-out;
}






/* list page */

.content {
	width: 100%;
}

.list .story {
	width: 100%;
	margin-right: -320px;
}

.list .story > .heading,
.list .story .contact-details,
.list .story .section {
	margin-right: 320px;
}

.list .section .detail {
	width: 100%;
}

.list .section.gallery ul {
	width: 100%;
}
		
		
