/*  MAKE LAYOUT RESPONSIVE at 1024px FOR SMALLER SCREENS ================================================================ */


	
		header {
			width: 940px; /* 960px / 1024px */
		}

		#maincontent{
			width: 940px; /* 960px / 1024px */
		}
		
		.maincontent{
			width: 940px; /* 960px / 1024px */
		}

		footer {
			width: 940px; /* 960px / 1024px */
		}
		
