

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: arial, verdana;
	color: #555;
}

input,
select {
	-webkit-appearance: none;
    border-radius: 0;
}

* {
	outline: none;
}

image {
	border: none;
}

#wrapper {
	width: 940px;
	margin: 0 auto;
}

.cleft { clear: left; }

a {
	color: #3366cc;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p { margin: 0; padding: 0 0 15px 0; }

/* fonts */

@font-face {
    font-family: 'rock_saltregular';
    src: url('fonts/rocksalt-webfont.eot');
    src: url('fonts/rocksalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rocksalt-webfont.woff') format('woff'),
         url('fonts/rocksalt-webfont.ttf') format('truetype'),
         url('fonts/rocksalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'time_romannormal';
    src: url('fonts/time_roman-webfont.eot');
    src: url('fonts/time_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/time_roman-webfont.woff') format('woff'),
         url('fonts/time_roman-webfont.ttf') format('truetype'),
         url('fonts/time_roman-webfont.svg#time_romannormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Sri-TSCRegular';
    src: url('fonts/sri-tsc-webfont.eot');
    src: url('fonts/sri-tsc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sri-tsc-webfont.woff') format('woff'),
         url('fonts/sri-tsc-webfont.ttf') format('truetype'),
         url('fonts/sri-tsc-webfont.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 { 
	margin: 0; 
	padding: 0; 
}

h1, h2 { 
	font-family: 'Sri-TSCRegular';
}

/* ---------------------------------------------------------------- */


/* header */
#header {
	height: 140px;
	position: relative;
	background: url(../images/bg-header-nav.png) top right no-repeat;
}

#header h1 {
	position: absolute;
	left: 0;
	top: 5px;
	margin: 0;
	padding: 0;
}

#header h1 a {
	display: block;
	width: 271px;
	height: 106px;
	background: url(../images/logo.png) 0 0 no-repeat;
	text-decoration: none;
	text-indent: -9000px;
}

#header .top-nav {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-nav li {
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #fff;
}

#header .top-nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 0.85em;
	padding: 0 10px;
	line-height: 1.9;
}

#header .top-nav li form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
}

#header .top-nav li form label {
	display: none;
}

#header .top-nav li form .text {
	font-family: arial, verdana;
	font-size: 0.85em;
	color: #79714f;
	padding: 3px 6px;	
	margin: 0;
	border: 0;
	outline: 0;
}

#header .top-nav li form .submit {	
	margin: 0;
	width: 27px;
	height: 18px;
	text-indent: -9000px;
	border: 0;
	background: url(../images/bg-search-button.png) center center no-repeat;
	cursor: pointer;
	
}

#header .tea-count {	
	position: absolute;
	top: 30px;
	right: 0;	
}

#header .tea-count span {
	display: block;
	font-size: 0.8em;
	color: #A7A7A7;
	text-align: right;
}

#header .tea-count .figure {
	font-size: 2.8em;
	color: #ff790d;
	letter-spacing: 1px;
	font-family: time_romannormal;
	font-weight: bold;
	
}

#header .main-nav {
	float: right;
	margin: 88px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline;
}

#header .main-nav:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#header .main-nav li {
	float: left;
	border-left: 1px solid #ccc;
}

#header .main-nav li a {
	display: block;
	font-size: 1.5em;
	line-height: 99%;
	text-decoration: none;
	padding: 0 18px;
	padding-top: 12px;
	color: #79714f;
	font-family: 'Sri-TSCRegular';
}

#header .main-nav li a:hover,
#header .main-nav li a.active {
	color: #333;
}

#header .main-nav li:last-child a {
	padding-right: 0;
}

#header .main-nav li:first-child {
	padding-right: 0;
	border-left: none;
}

.content {
	padding-bottom: 20px;
	width: 940px;
	overflow: hidden;
}



/* Carousel */
#carousel {
	height: 301px;
	overflow: hidden;
	background: url(../images/bg-carousel.jpg) 0 0 no-repeat;	
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition: background 0.2s ease-in-out;
  	transition: background 0.2s ease-in-out;
}

#carousel.bg-pos-0 { background-position: 0 0; }
#carousel.bg-pos-1 { background-position: 0 107px; }
#carousel.bg-pos-2 { background-position: 0 214px; }

#carousel .stage {
	overflow: hidden;
	width: 700px;	
	height: 301px;
	float: left;
}

#carousel .stage .slides {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 700px;
	margin-top: -602px;	
	-webkit-transition: margin 0.5s ease-in-out;
  	-moz-transition: margin 0.5s ease-in-out;
  	-o-transition: margin 0.5s ease-in-out;
  	transition: margin 0.5s ease-in-out;
}

#carousel .stage .slides li {
	width: 700px;
	height: 301px;
	position: relative;
}

#carousel .stage .slides li img {
	position: absolute;
	top: 0;
	left: 0;
}

#carousel .stage .slide h2 {
	position: absolute;
	top: 15px;
	right: 30px;
	margin: 0;
	padding: 0;
	
	font-family: rock_saltregular;
	font-size: 2.5em;
	color: #fff;
	text-align: right;
	z-index: 10;
}

#carousel .stage .slide-3 h2 { color: #5DD100; }
#carousel .stage .slide-2 h2 { color: #000; }
#carousel .stage .slide-1 h2 { color: #fff; }

#carousel .controls {
	float: right;
}

#carousel .controls ul {
	width: 220px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#carousel .controls ul li {
	padding-bottom: 20px;
}

#carousel .controls a {
	display: block;
	width: 220px;
	height: 87px;
	text-indent: -9000px;
	text-decoration: none;
	outline: none;
}

#carousel .controls .button-1 {	background: url(../images/slide1-small.jpg) 0 0 no-repeat; }
#carousel .controls .button-2 { background: url(../images/slide2-small.jpg) 0 0 no-repeat; }
#carousel .controls .button-3 { background: url(../images/slide3-small.jpg) 0 0 no-repeat; }


/* content */
.content-row {
	width: 960px;
	height: 258px;
}

.content-row:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


.content-block {
	width: 300px;
	height: 258px;
	float: left;
	margin-right: 20px;
}

.content-row h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	background: url(../images/bg-block-h2.png) right 11px no-repeat;
	line-height: 36px;
}

.content-row h2:hover {
	background-position: right -123px;
}




/* Homepage */
.tea-news {
	height: 258px;
	background: url(../images/bg-block-tea-news.jpg) center  0 no-repeat;
	position: relative;
}

.tea-news h2 a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
	font-size: 1.1em;
	background: url(../images/bg-block-h2.png) right 11px no-repeat #CC4949;
}

.tea-news h2 a:hover {
	background-position: right -123px;
}

.tea-news ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.tea-news ul li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #555;
	border-bottom: 1px solid #cc4949;
	background: url(../images/bg-block-li-a.png) center right no-repeat #f7f7f7;
	-webkit-transition: background-color 0.5s;
  	-moz-transition: background-color 0.5s;
  	-o-transition: background-color 0.5s;
  	transition: background-color 0.5s;
}

.tea-news ul li a:hover {
	background-color: #f0f0f0;
	-webkit-transition: background-color 0.5s;
  	-moz-transition: background-color 0.5s;
  	-o-transition: background-color 0.5s;
  	transition: background-color 0.5s;
}

.tea-news ul li a:hover .title {
	color: #000;
}

.tea-news ul li:last-child a {
	border-bottom: 1px solid #fff;
}

.tea-news ul li a span {
	display: block;
	line-height: 130%;
}

.tea-news ul li a .title {
	font-weight: bold;
	font-size: 1.1em;
}

.tea-facts a {
	text-decoration: none;
	display: block;
	height: 258px;
	background: url(../images/bg-block-tea-facts.png) 0 0 no-repeat;
}

.tea-facts h2 {
	padding: 0 10px;
	color: #fff;
}

.tea-list {
	height: 258px;
	background: url(../images/bg-block-tea-list.png) bottom left no-repeat;
	color: #fff;
}

.tea-list h2 {
	padding: 0 10px;
	background: none;
	color: #fff;
}

.tea-list p {
	padding: 10px 155px 30px 12px;
	margin: 0;
}

.tea-list form {
	margin: 0 12px;
}

.tea-list form label {
	display: none;
}

.tea-list form .select {
	font-family: arial, verdana;
	font-size: 0.9em;
	color: #79714f;
	padding: 3px 6px;
	width: 230px;
	margin: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	display: block;
	border: 1px solid #fff;
	background-color: #fff;
}

.tea-list form .submit {
	background-color: transparent;
	color: #f7f7f7;
	border: none;
	padding: 3px 6px;
	cursor: pointer;
	margin: 5px 5px 5px 0;
	border: 1px solid #f7f7f7;
	outline: none;
}

.tea-list form .submit:hover {
	color: #fff;
	border: 1px solid #fff;
}


.content-row.double {
	height: auto;
	width: 100%;
}

.content-half {
	width: 50%;
	float: left;
	background-color: #62d29a;
}

.content-half h2 {
	display: block;
	text-decoration: none;
	color: #fff;
}

.content-half h2 a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 180%;
	font-size: 1.1em;
	padding: 0 10px;
}

.content-half .copy {
	margin: 0 11px 11px 11px;
	padding: 162px 10px 10px 10px;
	background-color: #fff;
}

.copy.magic-of-tea { background: url(../images/bg-magic-of-tea.jpg) top right no-repeat #fff; }
.copy.tea-smugglers { background: url(../images/bg-tea-smugglers.jpg) top right no-repeat #fff; }

.content-half h3 {
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 1.2em;
}

.content-half p {
	padding: 6px 0 0 0;
	margin: 0;
}







/* article page */
.article:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.article .story {
	float: left;
	width: 700px;
}

.article .story .title-block:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
	margin-bottom: 15px;
}

.article .story .title-block h1 {
	font-size: 2.5em;
	color: #bcc240;
	float: left;
	width: 330px;
}

.article .story .main-image {
	float: right;
}

.article .story h2 {
	padding: 0 0 5px 0;
	font-size: 1.6em;
	color: #79714f;
	font-weight: normal;
}

.article .side-bar {
	float: right;
	width: 224px;
	background-color: #f7f7f7;
	margin-bottom: 50px;
}

.article .side-bar h2 {
	padding: 8px 12px;
	font-size: 1.1em;
	margin: 0;
	color: #79714f;
}

.article .side-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.article .side-bar ul li {
	border-top: 1px solid #fff;
}

.article .side-bar ul li a {
	padding: 5px 12px;
	font-size: 1.1em;
	margin: 0;
	color: #555;
	text-decoration: none;
	display: block;
}

.article .side-bar ul li a:hover {
	color: #000;
}

.article .side-bar ul li .title {
	display: block;
}

.article .share-this-article {
	text-align: right;
	padding: 80px 10px 5px 10px;
}

.article .share-this-article p {
	margin: 0;
	padding: 0;
}

.article .share-this-article .share-link {
	display: inline-block;
}

.article .share-this-article .share-link img {
	display: block;
	border: none;
}


/* list page */
.list .feature {	
}

.list .feature:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.list .feature .heading {
	width: 620px;
	float: left;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.list .main-image {
	width: 300px;
	float: right;
}


.list .feature h1 {
	margin: 0;
	padding: 0;
	color: #79714f;
	font-family: 'Sri-TSCRegular';
	font-weight: normal;
	font-size: 3.0em;
	float: left;
}

.list .feature .contact-details {
	width: 620px;
	float: left;
}

.list address {
	float: left;
	font-style: normal;
}

.list .feature .contact-details .logo {
	float: right;
}

.list .feature .main-image {
	width: 300px;
	height: 258px;
	margin-bottom: 10px;
	position: relative;
}

.list .feature .main-image .title {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	padding: 10px 15px;
	color: #333;
	background-color: #fff;
	width: 300px;
	box-sizing: border-box;
	font-size: 1.3em;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);	
}





.list .story {
	width: 620px;
	margin-top: -45px;
}


.list .section .heading {
	line-height: 30px;
	background: url(../images/bg-section-heading.png) bottom left no-repeat #fff;
	border-bottom: none;
	margin-bottom: 10px;
}

.list .section .heading:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.list .section h1 {
	margin: 0;
	padding: 0;
	color: #79714f;
	font-weight: normal;
	font-size: 2.8em;
	float: left;
}

.list .section {
	margin-bottom: 10px;
}

.list .section h2 { background: url(../images/bg-list-sectons.png) 0 0 no-repeat; }
.list .section.gallery h2 { background-position: 0 0; }
.list .section.introduction h2 { background-position: 0 -35px; }
.list .section.afternoon-tea h2 { background-position: 0 -70px; }
.list .section.afternoon-tea-food-menu h2 { background-position: 0 -105px; }
.list .section.tea-menu h2 { background-position: 0 -140px; }
.list .section.openning-hours h2 { background-position: 0 -175px; }
.list .section.notes h2 { background-position: 0 -210px; }

.list .section .heading h2 {
	float: left;
	margin: 0;
	padding: 2px 0 3px 45px;
	font-size: 1.6em;
}

.list .section .heading .action {
	float: right;
	color: #999;
	font-size: 1.2em;
	padding-top: 2px;
}

.list .section .heading .action p {
	padding: 0;
	margin: 0;
}

.list .section .heading .action a {
	color: #999;
	text-decoration: none;
}

.list .section .heading .action a:hover {
	color: #333;
}

.list .section.gallery ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}

.list .section.gallery ul li {
	float: left;
	width: 25%;
}

.list .section.gallery ul li a {
	display: block;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}

.list .section.gallery ul li a img {
	width: 100%;
}






.list .side-bar {
	width: 300px;
	background-color:transparent;
}

.list .side-bar .tea-list h2  {
	color: #fff;
}

.section .detail p,
.section .detail li {
	margin: 0;
	padding: 0 0 10px 0;
}

.accordion .action .show-more {
	background: url(../images/accordion-open-close.png) right 6px no-repeat #fff;
	padding-right: 26px;
	display: block;
}

.list .accordion.open .action .show-more {
	background-position: right -35px;
	color: #333;
}

.accordion .clip:after,
.accordion .detail:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.accordion .clip {
	padding: 0 0 10px 0;
}

.accordion .detail {
	display: none;
}

.accordion .detail .clip {
	display: block;
}

.accordion.open .clip .show-more {
	display: none;
}

.list .section .detail-half {
	float: left;
	width: 50%;
}

.list .section .detail-half ul {
	margin: 0;
	padding: 0 0 0 30px;
}

.list .section .detail-half ul  li {
	margin: 0;
	padding: 0;
}

.list .section dl {
	margin: 0;
	padding: 0;
}

.list .section dl dt {
	float: left;
	font-weight: bold;
	width: 60px;
	padding-bottom: 2px;
}

.list .section dl.wide dt {
	width: 100px;
	padding-bottom: 10px;
	padding-right: 20px;	
}

.list .section dl dd {
	padding-right: 15px;
	padding-bottom: 10px;
}

.list .section .detail-half dl dd {
	padding-bottom: 2px;
}









/* footer */
.footer .footer-nav {
	margin: 0;
	padding: 0 0 10px 0;
	list-style: none;
	float: right;
}

.footer .footer-nav li {
	float: left;
	border-left: 1px solid #ccc;
}

.footer .footer-nav li a {
	display: block;
	font-size: 1.2em;
	line-height: 99%;
	text-decoration: none;
	padding: 6px 18px;
	color: #79714f;
	font-family: 'Sri-TSCRegular';
}

.footer .footer-nav li a:hover,
.footer .footer-nav li a.active {
	color: #333;
}

.footer .footer-nav li:last-child a {
	padding-right: 0;
}

.footer .footer-nav li:first-child {
	padding-right: 0;
	border-left: none;
}

.footer .footer-copy {
	clear: right;
	text-align: right;
	color: #999;
	font-size: 11px;
}

.footer .footer-copy p {
	padding: 0 0 3px 0;
	margin: 0;
	line-height: 130%;
}

.footer .footer-copy p a {
	color: #666;
}

.footer .footer-copy p a:hover {
	text-decoration: none;
}




/* misc */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}



/* media queries */
@media only screen and (max-width: 1000px)  {
	#wrapper {
		width: 94%;
	}
	
	#carousel {
		background: none;
		height: auto;
		position: relative;
	}
	
	#carousel .stage {
		overflow: hidden;
		width: 100%;
		float: none;
		z-index: 2;
	}
	#carousel .stage .slides,
	#carousel .stage .slides li,
	#carousel .stage .slides img {
		width: 100%;
	}
	
	#carousel .controls {
		float: none;
		z-index: 10;
		background-color: #fff;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	
	#carousel .controls:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
	
	#carousel .controls ul {
		float: right;
		width: auto;
		padding: 10px 5px;
	}
	
	#carousel .controls ul li {
		padding: 0 10px;
		float: left;
	}
	
	#carousel .controls a.button {
		background: #fff;
		border: 1px solid #999;
		height: 30px;
		width: 30px;
		-moz-border-radius:15px;
		-webkit-border-radius: 15px;
		
		
		-webkit-transition: background 0.2s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;	
	}
	
	#carousel .controls a.button.active {
		background: #F87108;
		border: 1px solid #F87108;	
		-webkit-transition: background 0.2s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;
	}
	
	/* news, facts and list pods */
	
	.content {
		width: 100%;
	}
	
	.content-row {
		width: 100%;
		height: auto;
	}	
	
	.content-block-1 {
		width: 100%;
		margin-right: -320px;
	}
	
	.content-block-1 > div {
		margin-right: 320px;
	}
	
	.content-block-2 {
		float: right;
		margin-right: 0;		
	}
	
	.content-block-3 {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-top: 20px;		
	}
	
	.content-block-3 .block {
		height: auto;
		background-color: #bcc140;
		background-position: center right;
		
	}	
	
	.content-block-3 .block p {
		padding: 0 0 10px 12px;		
	}	
	
	.content-block-3 .block form {
		padding-bottom: 10px;	
	}
	
	/* article */	
	.article .story {
		width: 100%;
		margin-right: -244px;
	}
	
	.article .story p,
	.article .story > div {
		margin-right: 244px;
	}
	
	.article .story .title-block h1 {
		width: auto;
		font-size: 2.2em;
	}
	
	
	/* list page */	
	.content,	
	.list .feature {
		width: 100%;
	}
	
	
	.list .feature .heading,
	.list .feature .contact-details {
		width: 100%;
		margin-right: -320px;
		border: none;
	}
	
	.list .feature .logo {
		margin-right: 320px;
	}
	
	.list .story {
		width: 100%;
		margin-right: -320px;
	}	
	
	.list .story .section {
		margin-right: 320px;
	}
	
	.list .section .detail {
		width: 100%;
	}
	
	.list .section.gallery ul {
		width: 100%;
	}
		
}


@media only screen and (max-width: 900px)  {
	

	.content-half {
		width: 100%;
		float: none;
		padding-bottom: 1px;
		margin-bottom: 10px;
	}
	
}



@media only screen and (max-width: 870px)  {
	#header {
		background: none;
		height: inherit;
		text-align: center;
		padding-bottom: 5px;
		background-color: #f7f7f7;
	}
	
	#header .top-nav,
	#header .tea-count {
		display: none;
	}
	
	#header h1 {
		position: static;
		width: 100%;
		height: 106px;
		margin: 0 auto;
		padding-bottom: 15px;
		/*border-bottom: 1px solid #ccc;*/
		margin-bottom: 5px;
		background-color: #fff;
	}
	
	
	
	
	#header .main-nav {
		float: none;
		margin: 15px 0;	
		text-align: center;
	}	
	
	#header .main-nav li { 
		display: inline-block; 
		float: none;
		border-left: 1px solid #fff;
	}
	
	#header .main-nav li a {
		padding: 10px 18px;
	}
	
	#header .main-nav li:last-child a {
		padding-right: 18px;
	}
	
	/* article */	
	.article .story,
	.article .story p,
	.article .story > div {
		margin-right: 0;
		float: none;
	}
	
	.article .side-bar {
		float: none;
		width: auto;
		margin-bottom: 0;
	}
	
	.article .share-this-article {
		padding: 5px 10px;
	}
	
	/* list page */
	.main-image {
		display: none;
	}
	
	.article {
		padding-top: 10px;
	}
	
	.list .story {
		margin-top: 15px;
	}
	
	.list .story,
	.list .feature .logo,
	.list .story .section,
	.list .feature .heading,
	.list .feature .contact-details {
		margin-right: 0;
	}
	
	
	.list .feature .heading {
		margin-top: 5px;
		border-bottom: 1px solid #ccc;
	}	
	
	.list .side-bar {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.list .block {
		float: none;
		height: auto;
		background-color: #bcc140;
		background-position: center right;
	}	
	
	
	.list .block p {
		padding: 0 0 10px 12px;
	}
	
	.list .block form {
		padding-bottom: 10px;
	}
		
}

@media only screen and (max-width: 700px)  {
	
	.content-block-1 {
		width: 100%;
		margin-right: 0;		
	}	
	
	.content-block-1 > div {
		margin-right: 0;
	}	
	
	.content-block-2 {
		float: left;
		
	}
	
	.content-block-2 {
		width: 100%;
		height: auto;		
		margin-right: 0;
		margin-top: 20px;		
	}
	
	.content-block-2 .tea-facts a {
		height: 120px;
		background: url(../images/bg-block-tea-facts-small.jpg) right center no-repeat #ff790d;
	}
	
	
}



@media only screen and (max-width: 600px)  {	
	
	#header .main-nav {
		display: none;
	}
	
}